<br>
<div class="row col-10 offset-2">
  <div class="col-9" align="right">
    <table id="chessboard">
      <%= render 'board' %>
    </table>
  </div>
  <div class="side-panel col-2">
    <p class="forfeit-button"><a href="#forfeit-modal" rel="modal:open" class="btn btn-outline-secondary">Foreit Game</a></p>
    <div id="turn-container">
      <%= render 'turn' %>
    </div>
    <a href="#captured-modal" rel="modal:open">Captured pieces</a>
  </div>
</div>

<div id="forfeit-modal" class="modal">
  <div class="forfeit-modal-flex">
    <p>Are you sure you want to forfeit this game? (If someone else has joined already, it will count as a loss against you.)</p>
    <div class="forfeit-modal-buttons">
      <%= link_to "Yes, forfeit Game", game_path(@game), method: :delete, class: 'btn btn-outline-danger' %>
      <a href="#forfeit-modal" rel="modal:close">No, go back</a>
    </div>
  </div>
</div>

<div id="captured-modal" class="modal">
  <div class="card">
    <div class="card-body">
      <h3>White captured pieces:</h3>
      <% white_pieces = @game.pieces.where(color: "white", captured: true) %>
      <div class="captured-flex">
        <% white_pieces.each do |white_piece| %>
          <% image = draw_piece(white_piece.type, white_piece.color) %>
          <div>
          <%= image_tag(image, height: '65px').to_s %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>Black captured pieces:</h3>
      <% black_pieces = @game.pieces.where(color: "black", captured: true) %>
      <div class="captured-flex">
        <% black_pieces.each do |black_piece| %>
          <% image = draw_piece(black_piece.type, black_piece.color) %>
          <div>
          <%= image_tag(image, height: '65px').to_s %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="pawn-promotion-modal" class="modal">
  <p>Select a piece type to promote your pawn to:</p>
  <% @game = Game.find_by(id: params[:id]) %>
  <%= image_tag('WhiteQueen.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Queen' }).to_s %>
  <%= image_tag('WhiteKnight.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Knight' }).to_s %>
  <%= image_tag('WhiteRook.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Rook' }).to_s %>
  <%= image_tag('WhiteBishop.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Bishop' }).to_s %>
</div>

<script>
  var type;
  var x;
  var y;
  $(document).ready(init_draggables_and_droppables);
  function init_draggables_and_droppables() {
    $(".draggable").draggable();
    $(".droppable").droppable({
      drop: function( event, ui ) {
        type = ui.draggable.data('type')
        var id = ui.draggable.data('id')
        x = $(this).data('x')
        y = $(this).data('y')
        $.ajax({
          type: 'PUT',
          url: `/pieces/${id}?x_position=${x}&y_position=${y}`
        });
      }
    });
  };
  function openModal() {
    if (type === "Pawn" && (y === 0 || y === 7)) {
      $('#pawn-promotion-modal').modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    }
  }

  function handlePawnPromotion() {
    var id = $(this).data('id');
    var type = $(this).data('type')
    var info = {
      id,
      type
    }

    $.ajax({
      type: 'PUT',
      url: `/games/${id}/promote`,
      data: info,
      dataType: "json"
    });
    location.reload();
  };
  $('.promoteButton').on('click', handlePawnPromotion);
</script>
