<!DOCTYPE html>
<html>
  <head>
    <title>Shakhmati</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="side-nav col-2">
      <h1>SHAKHMATI</h1>
      <div class="open-games">
        <h2>Open games:</h2>
        <div class="open-games-wrapper">
          <% @games.each do |game| %>
            <p><%= game.name %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
